iron-selector > * {
    border-radius: 0 !important;
    border: none !important;
    margin: 0 !important;
    border-radius: 0.5rem !important;
}

yt-chip-cloud-chip-renderer[chip-style=STYLE_DEFAULT], yt-chip-cloud-chip-renderer[chip-style=STYLE_HOME_FILTER], yt-chip-cloud-chip-renderer[chip-style=STYLE_REFRESH_TO_NOVEL_CHIP] {
    background-color: #0000 !important;
}

yt-chip-cloud-chip-renderer[chip-style=STYLE_DEFAULT][selected], yt-chip-cloud-chip-renderer[chip-style=STYLE_HOME_FILTER][selected] {
    background-color: var(--yt-spec-text-primary) !important;
}

yt-chip-cloud-chip-renderer[chip-style=STYLE_DEFAULT]:not([selected]):hover, yt-chip-cloud-chip-renderer[chip-style=STYLE_HOME_FILTER]:not([selected]):hover, yt-chip-cloud-chip-renderer[chip-style=STYLE_REFRESH_TO_NOVEL_CHIP]:not([selected]):hover, yt-chip-cloud-chip-renderer[chip-style=STYLE_DEFAULT]:not([selected]):focus, yt-chip-cloud-chip-renderer[chip-style=STYLE_HOME_FILTER]:not([selected]):focus, yt-chip-cloud-chip-renderer[chip-style=STYLE_REFRESH_TO_NOVEL_CHIP]:not([selected]):focus {
    background-color: var(--yt-spec-button-chip-background-hover) !important;
}

#chips-wrapper.ytd-feed-filter-chip-bar-renderer {
    justify-content: left !important;
}

iron-selector {
    background-color: var(--yt-spec-badge-chip-background) !important;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    border-radius: 0.5rem !important;
    overflow: hidden !important;
    left: 0.5rem !important;
    position: relative;
}

#chips.ytd-feed-filter-chip-bar-renderer {
    width: 100% !important;
}

yt-chip-cloud-chip-renderer[chip-style=STYLE_DEFAULT], yt-chip-cloud-chip-renderer[chip-style=STYLE_HOME_FILTER], yt-chip-cloud-chip-renderer[chip-style=STYLE_REFRESH_TO_NOVEL_CHIP] {
    transition: background-color 125ms !important;
}

ytd-button-renderer #button.ytd-button-renderer {
    border-radius: 1rem !important;
}

ytd-button-renderer.style-suggestive[is-paper-button] tp-yt-paper-button.ytd-button-renderer {
    border: 0.25rem solid var(--yt-spec-call-to-action) !important;
}

#chips-wrapper.ytd-feed-filter-chip-bar-renderer {
    border: none !important;
}

#contents.ytd-rich-grid-renderer {
    margin-top: 0.5rem !important;
}

yt-icon-button {
    border-radius: 0.5rem !important;
    transition: background-color 125ms;
    cursor: pointer;
}

yt-icon-button:hover {
    background-color: var(--yt-spec-general-background-a) !important;
}

yt-icon-button > yt-interaction {
    display: none !important;
}

ytd-thumbnail {
    border-radius: 1rem !important;
    overflow: hidden !important;
    transition: all 0.5s;
}

ytd-thumbnail-overlay-time-status-renderer {
    margin: 1rem !important;
    border-radius: 0.5rem !important;
    padding: 0.5rem !important;
}
