#status-bar > div.location > span {
    width: 0 !important;
    overflow: hidden !important;
    flex: unset;
}

.package-filter-list {
    padding: 0.25rem !important;
}

.package-filter.btn-menu-item {
    margin-bottom: 0.25rem !important;
}

.status-bar-menu-button {
    border: none !important;
    border-radius: 0.5rem !important;
    align-self: unset !important;
    padding: 0.25rem 1rem !important;
    margin-right: 0.5rem !important;
    margin-left: 0 !important;
    background-color: transparent !important;
}

.package-list > div {
    padding: 0.125rem 0;
}

.package-list {
    margin: 0 !important;
    max-width: unset !important;
}

.item-list .dummytaskitem, .item-list .taskitem {
    margin: 0.5rem !important;
}

.btn {
    border-radius: 0.5rem !important;
}

.question-answer-container {
    border-radius: 1rem !important;
    margin: 0 !important;
    max-width: unset !important;
    max-height: unset !important;
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    box-sizing: border-box;
}

#top-bar {
    padding: 0.5rem !important;
}

.bottom-bar {
    padding: 0.5rem !important;
}

.skill-delivery-view-wrapper {
    align-items: center !important;
    justify-content: center !important;
}

.view-explanation-container {
    margin-bottom: 0.5rem !important;
}

.package-contents {
    max-width: unset !important;
}

#app-container > div.screen > div.main-view > div > div > div.view-body > div.item-list > div {
    border-radius: 1rem !important;
}

.taskitem > .action {
    border-radius: 0.5rem !important;
    width: 100% !important;
    box-sizing: border-box !important;
}

.taskitem.btn-menu-item, .taskitem .btn-menu-item {
    padding: 1rem !important;
}
