.gb_Ba {
  border-radius: 0.5rem !important;
}

.JZFjpd {
  border-radius: 1rem !important;
}

.gb_Se button svg,
.gb_A {
  border-radius: 0.5rem !important;
}

.uU7dJb {
  border-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.MV3Tnb,
.gb_d {
  display: none !important;
}

iframe[src="https://ogs.google.com/u/0/widget/callout/sid?prid=19001869&pgid=748494848&puid=b9973bdff5742177&dc=1&origin=https%3A%2F%2Fwww.google.com&cn=callout&pid=1&spid=538&hl=en"]
{
  visibility: hidden !important;
}

.FPdoLc.lJ9FBc {
  display: none !important;
}

.uU7dJb {
  display: none !important;
}

body
  > div.L3eUgb
  > div.o3j99.ikrT4e.om7nvf
  > form
  > div:nth-child(1)
  > div.A8SBwf
  > div.RNNXgb {
  border-radius: 0.5rem;
}

body
  > div.L3eUgb
  > div.o3j99.ikrT4e.om7nvf
  > form
  > div:nth-child(1)
  > div.A8SBwf.emcav
  > div.UUbT9
  > div.aajZCb {
  border-radius: 0.5rem;
  padding-bottom: 0;
  margin-top: 0.5rem;
}

body
  > div.L3eUgb
  > div.o3j99.ikrT4e.om7nvf
  > form
  > div:nth-child(1)
  > div.A8SBwf.emcav
  > div.UUbT9
  > div.aajZCb
  > div.lJ9FBc
  > center {
  display: none;
}

body
  > div.L3eUgb
  > div.o3j99.ikrT4e.om7nvf
  > form
  > div:nth-child(1)
  > div.A8SBwf.emcav
  > div.UUbT9
  > div.aajZCb
  > div.xtSCL {
  display: none;
}

body
  > div.L3eUgb
  > div.o3j99.ikrT4e.om7nvf
  > form
  > div:nth-child(1)
  > div.A8SBwf.emcav
  > div.UUbT9
  > div.aajZCb
  > div.lJ9FBc {
  display: none;
}

body > div.L3eUgb > div.o3j99.LLD4me.yr19Zb.LS8OJ {
  min-height: none;
  max-height: none;
  height: max-content;
}

body > div.L3eUgb {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  width: 100%;
  position: relative;
}

body > div.L3eUgb > div.o3j99.n1xJcf.Ne6nSd {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#gb > div > div:nth-child(1) {
  display: none;
}

body > div.L3eUgb > div.o3j99.c93Gbe {
  display: none;
}

body > div.L3eUgb > div.o3j99.LLD4me.yr19Zb.LS8OJ {
  place-self: flex-end center;
}

body > div.L3eUgb > div.o3j99.ikrT4e.om7nvf {
  place-self: flex-start center;
  min-width: 50%;
}

#sbfblt {
  display: none;
}

body
  > div.L3eUgb
  > div.o3j99.ikrT4e.om7nvf
  > form
  > div:nth-child(1)
  > div.A8SBwf.emcav
  > div.UUbT9
  > div.aajZCb {
  transition: all 250ms ease-in-out;
}

body
  > div.L3eUgb
  > div.o3j99.ikrT4e.om7nvf
  > form
  > div:nth-child(1)
  > div.A8SBwf.emcav
  > div.UUbT9
  > div.aajZCb {
  opacity: 0;
}

body
  > div.L3eUgb
  > div.o3j99.ikrT4e.om7nvf
  > form
  > div:nth-child(1)
  > div.A8SBwf.emcav.sbfc
  > div.UUbT9
  > div.aajZCb {
  opacity: 1;
}

#gbwa > div > a {
  border-radius: 0.5rem;
}

#gb > div > div.gb_Ve > div.gb_b.gb_kd.gb_pg.gb_o.gb_Ef > div > a > img {
  border-radius: 0.5rem;
}

#gb > div > div.gb_Ve > div.gb_b.gb_kd.gb_pg.gb_o.gb_Ef > div > a {
  border-radius: calc(0.5rem + 4px);
}

#tsf > div:nth-child(1) > div.A8SBwf > div.RNNXgb {
  border-radius: 0.5rem;
}

#rcnt {
  max-width: 100vw;
}

#res {
  max-width: 100%;
}

#main {
  max-width: 100vw;
  min-width: 0;
}

#searchform {
  min-width: 0;
  max-width: 100vw;
}

body
  > div.L3eUgb
  > div.o3j99.ikrT4e.om7nvf
  > form
  > div:nth-child(1)
  > div.A8SBwf.emcav
  > div.UUbT9
  > div.aajZCb
  > div.mkHrUc
  > div.erkvQe {
  padding-bottom: 0;
}
