#myProfileByCloudDesignBox_93c78e54
  > div
  > div
  > div.minimisedProfile_93c78e54
  > div {
  border-radius: 0.5rem;
  filter: blur(1rem);
  margin: 0;
  transition: filter 500ms ease-in-out;
}

#myProfileByCloudDesignBox_93c78e54
  > div
  > div
  > div.minimisedProfile_93c78e54
  > div:hover {
  filter: blur(0rem);
}

#myProfileByCloudDesignBox_93c78e54
  > div
  > div
  > div.minimisedProfile_93c78e54 {
  border-radius: 1rem;
  overflow: hidden;
  padding: 0;
  margin-bottom: 0.5rem;
  position: relative;
  border: 0.25rem #565656 solid;
}

#myProfileByCloudDesignBox_93c78e54
  > div
  > div
  > div.minimisedProfile_93c78e54::before {
  content: "no peaking";
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 0.125rem;
  user-select: none;
  pointer-events: none;
}

#myProfileByCloudDesignBox_93c78e54
  > div
  > div
  > div.minimisedProfile_93c78e54:hover::before {
  opacity: 0 !important;
}

#O365_MainLink_Help_container {
  display: none !important;
}

#O365_MainLink_MePhoto > div > div > div > div > div.nvEhuDKzSmREBsqaIaOhu > img {
  display: none !important;
}

#mectrl_headerPicture {
  background-image: url("https://api.macosicons.com/uploads/filters_24px_ef8beca8c2.svg") !important;
}

#mectrl_currentAccount_picture,
.mectrl_profilepic {
  border-radius: 1rem !important;
}

#mectrl_currentAccount_picture > div {
  filter: blur(0.75rem);
}